{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <div>
            This tutorial has been put together by person!<br/>
            <strong> {{ boldmessagetwo }} </strong> <br />
        </div>
        <div>
            <img src="{{ MEDIA_URL}}diobel.jpg" alt="DIABOL!" height="50%" width="50%"/>
        </div>
        <div>
            Site visits: <p>{{ visits }}</p>
        </div>
{% endblock %}