<!doctype html>
<html lang="en">
        {% load staticfiles %}
        {% load rango_template_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/marketing.css">

</head>

<body>

<div class="content">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{% url 'rango:index' %}">RANGO</a>
            
        <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{% url 'rango:index' %}" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="{% url 'rango:about' %}" class="pure-menu-link">About</a></li>
        {% if user.is_authenticated %}
        <li class="pure-menu-item"><a href="{% url 'rango:add_category' %}" class="pure-menu-link">Add a new Category</a></li>
        <li class="pure-menu-item"><a href="{% url 'auth_logout' %}?next=/rango/" class="pure-menu-link">Log out</a></li>
        {% else %}
        <li class="pure-menu-item"><a href="{% url 'registration_register' %}" class="pure-menu-link">Register Here</a></li>
        <li class="pure-menu-item"><a href="{% url 'auth_login' %}" class="pure-menu-link">Log in</a></li>
        {% endif %}
        </ul>
    </div>
</div>


<div class="l-box">
    <div class="pure-g">
        <div class="pure-u-1-8">
            <h3>Popular categories:</h3>
            {% block sidebar_block %}
            {% get_category_list category %}
            {% endblock %}
        </div>
        <div class="pure-u-7-8">
            {% block body_block %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>
